<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/">
                <img src="assets/logo.png" alt="Logo" style="max-height: 40px; margin-right: 10px;" />
                <span class="navbar-item is-size-4">{{title()}}</span>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-primary is-outlined is-medium" [routerLink]="routePath()">
                    <span>{{navigationButtonText[routePath()]}}</span>
                </a>
            </div>
        </div>

    </nav>
</header>