.new-word-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.new-word-info-text {
    text-align: center;
}

.server-error-message {
    padding-top: 8px;
}