<div class="container page-content-container">
    <div class="new-word-info-text">
        <h1 class="title is-2 mb-2 has-text-primary">Add new word</h1>
        <p>Found a missing word that you think should be added to the list? Write it here and new word will be added.
        </p>
    </div>
    <form [formGroup]="applyForm" (submit)="onSubmit()" class="field has-addons">
        <div class="control">
            <input id="word" formControlName="word" class="input is-medium is-link" type="text"
                placeholder="Enter a word">
            @if(word.invalid && (word.dirty || word.touched)) {
                
                @if(word.errors?.['required']) {
                <div class="form-field-invalid-message">
                    Word is required
                </div>
                }
                
                @if(word.errors?.['maxlength']) {
                <div class="form-field-invalid-message">
                    Word must not be longer than {{ word.errors?.['maxlength'].requiredLength }} letters
                </div>
                }
            }
        </div>
        <div class="control">
            <button type="submit" class="button is-primary is-medium">
                Submit
            </button>
        </div>
    </form>

</div>